body{
	background: #eee;
}
.container{
	width: 80%;
    margin: auto;
    background: #fff;
    padding: 1rem 2rem;
}
.header{
	text-align: center;
	margin: 8px 12px;
}

.user-card{
	background: #d7d7d7;
    padding: 0.5rem 1rem;
}